h1 { 
	font-style: italic;	
	font-family: Palatino;
	color: #ff00bb;
	text-align: center;
}

h2	{
	font-family:Palatino;
		text-align:left;
	
}

p	{
	font-family:Palatino;
		text-align: justified;
	
}
h3	{
	font-family:Palatino;
		text-align:right;
}