html { 
	height: auto; 
	font-family: "Helvetica", sans-serif;
	line-height: 1.4em;
}



body {
	margin: 0;
	position: absolute;
	width: 100%;
}

.main { 
	margin: 40px auto;
	padding: 0 25px;
	position: relative;
	width: 80%;
	z-index: 2;
}


#wrap article {
width: 26%;
padding: 5% 2% 0 2%;
margin-top: 10px;
margin-bottom: 0px;

}

p {
color: #666;
font-size:12px;
font-family:helvetica;
text-align: left;
}

h2{
	color: black;
	font-size:28px;
	font-family:helvetica;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
}
h3 {
	color: slategrey;
	font-size:15px;
	font-family:helvetica;
	text-align: left;
		letter-spacing: 2px;
}
h5 {
	color: black;
	font-size:12px;
	font-family:helvetica;
	text-align: left;


}
h4 {
	color: #666;
	font-size:18px;
	font-style: bold;
	font-style: italic;
	font-family:helvetica;
	text-align: center;
		letter-spacing: 4px;

}
.container {
	border-top: 5px solid lightgrey;
	background: #fAffff;
	margin: 20px 0 0 0;

}

.box {
	width: 55%;
	float: right;
}

.aside {
	width: 25%;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
	padding-bottom: 30px;
	border-right: solid 1px;
}

.about {
	margin-top: 50px;
}

.experience {
	margin: 50px 50px;
}

.intro {
	margin-top: -10%;
}

.intro h3, h5{
	text-align: center;
}

.picture {
	margin-left: 30px;
}

article {
width: 400px;
padding: 1%;
margin: 1%;
float: left;
background: #fff;
border: 1px lightgrey;
}



header {
		background: #fff;
}

header .logo {
	display: inline;
	margin: -85px auto auto 150px;
	outline: none;
	position: relative;
}

header nav {
	margin-top: 25px;
	position: relative;
}
	header nav a {
		display: block;
		letter-spacing: 2px;
		line-height: 50px;
		text-transform: uppercase;
	}
	

		header nav a span {
			background: #55A495;
			display: block;
			height: 5px;
			opacity: 0;
			margin: -20px auto 0;
		}

	header nav.left {
		clear: left;
		float: left;
		text-align: left;
	}
	
		header nav.left > * {
			float: left;
		}
	
	header nav.right {
		clear: right;
		float: right;
		text-align: right;
	}
	
		header nav.right > * {
			float: right;
		}
	
	header nav > span {
		display: block;
		margin: 0 10px;
		width: 20px; height: 50px;
	}
	
	
	
	a:link {
		COLOR: #68B3AF;
		text-decoration: none;

	}

	a:hover {
		COLOR: #C3DBB4;
		text-decoration: underline;
	}

	a:visited {
		COLOR: #87BDB1;
		text-decoration: underline;
	}

	a:active {
		color: #AACCB1;

	}

.footer-bg {
	background: #FACC2E;
	position: absolute;
	bottom: 0; left: 0;
	width: 100%; height: 200px;
	z-index: -1;
	}
	
	footer {
		margin: 50px -25px 0;
		padding: 0 25px;
	}
	
	footer p {
		float: right;
		margin: 0 20px 0 0;
		padding: 68px 20px 32px 0;
		width: 100%;
	}
		footer p span {
			display: block;
			margin-top: 10px;
		}

.side h5, p{ 
	display:inline;
	  }

	.contact {
		padding: 60px 0px;
		font-size: 0.8em;
		margin: 20px 0;
		text-align: center;
		margin: 20px 0;
		text-align: center;
	}
	.contact p {
		letter-spacing: 5px;
		text-indent: 70px;
	}


.clear { clear: both; height: 0  margin: 0  padding: 0 }