html { 
	height: auto; 
	background: url(IMG/ecailles.png);
	font-family: "Helvetica", sans-serif;
	line-height: 1.4em;
}


body {
	  width: 80%;
	  margin: 20px auto;
	  background: #;
	  border: 1px solid #efefef;
	}


#main {
	margin: auto;
	position: relative;
	width: 75%;
}

p {
color: #666;
font-size:12px;
font-family:helvetica;
text-align: left;
}
h2{
	color: black;
	font-size:28px;
	font-family:helvetica;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
}
h3 {
	color: slategrey;
	font-size:15px;
	font-family:helvetica;
	text-align: left;
		letter-spacing: 2px;
}
h5 {
	color: black;
	font-size:12px;
	font-family:helvetica;
	text-align: left;


}
h4 {
	color: #666;
	font-size:18px;
	font-style: bold;
	font-style: italic;
	font-family:helvetica;
	text-align: center;
		letter-spacing: 4px;

}
#container {
	border-top: 5px solid lightgrey;
	float: right;
	background: #fAffff;

}

.about {
	margin-top: 50px;
}
.contact{
		margin: 50px;
		width: 920px;
}
.experience {
	margin: 50px 50px;
}

article {
width: 400px;
padding: 1%;
margin: 1%;
float: left;
background: #fff;
border: 1px lightgrey;
}

.picture {
	float: left;
	padding: 10px 30px 10px 20px;
}

.intro {
	padding-right: 30px;
	padding-top: 30px;
}

header {
		background: #fff;
}

header .logo {
	display: inline;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	position: relative;
	width: 450px;
}

header nav {
	margin-top: 25px;
	position: relative;
}
	header nav a {
		display: block;
		letter-spacing: 2px;
		line-height: 50px;
		text-transform: uppercase;
	}
	

		header nav a span {
			background: #55A495;
			display: block;
			height: 5px;
			opacity: 0;
			margin: -20px auto 0;
		}

	header nav.left {
		clear: left;
		float: left;
		text-align: left;
	}
	
		header nav.left > * {
			float: left;
		}
	
	header nav.right {
		clear: right;
		float: right;
		text-align: right;
	}
	
		header nav.right > * {
			float: right;
		}
	
	header nav > span {
		display: block;
		margin: 0 10px;
		width: 20px; height: 50px;
	}
	
	
	
	a:link {
		COLOR: #68B3AF;
		text-decoration: none;

	}

	a:hover {
		COLOR: #C3DBB4;
		text-decoration: underline;
	}

	a:visited {
		COLOR: #87BDB1;
		text-decoration: underline;
	}

	a:active {
		color: #AACCB1;

	}

		footer {
			margin: 200px -25px 0;
			padding: 50 25px;
			background: lightgrey;
			clear: both;
		}
		footer .name {
			color: white;
			font-size: normal 0.7em;
			letter-spacing: 8px;
			margin: 20px 0;
			text-align: center;
			text-transform: uppercase;
		}