<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Single</title>
    <style type="text/css" media="screen">
.wrap {
margin: 0 10%;	
}

header, footer {
background: #CCC;	
}
</style>
</head>
<body>
<div class="wrap">
     <header>
        <h1>This is a header</h1>
        </header>
     <section>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper augue odio. Morbi pharetra urna elementum odio sollicitudin eu ultricies justo facilisis. Ut porttitor tellus eu ipsum mollis nec faucibus justo imperdiet. Donec venenatis pretium risus, vel blandit metus vestibulum sed. Sed in neque non tellus dictum mollis. Proin sed purus ipsum, at vestibulum enim. Suspendisse consectetur, justo quis volutpat commodo, lorem est rutrum tellus, pulvinar mollis ipsum augue eu massa. Aliquam congue varius eros id lobortis. Cras non interdum ligula. Phasellus vulputate, lectus facilisis hendrerit volutpat, dolor urna egestas urna, eget adipiscing mauris nibh venenatis mauris. Cras at purus sapien, sit amet facilisis risus. Vestibulum quam mi, placerat at accumsan at, dignissim a risus.</p>
<p>Morbi gravida neque ut metus luctus mattis. Nullam iaculis imperdiet ante ut bibendum. Phasellus feugiat leo eget nibh volutpat eleifend. Mauris lacinia venenatis dolor, a tempus elit ullamcorper ac. Integer ac lacus erat, pretium viverra lorem. In pellentesque malesuada iaculis. Duis tempor lobortis adipiscing. Praesent tempor libero tempor nisl interdum tempus. Aenean quam sapien, adipiscing porttitor aliquet eu, suscipit a massa. Cras egestas cursus metus, quis suscipit mi accumsan non. Vestibulum iaculis ipsum eget augue consequat consectetur. Cras in enim sem, eget auctor nisl. Suspendisse scelerisque, felis fringilla pellentesque semper, lorem magna hendrerit tellus, ac bibendum purus nisl ac lacus. Fusce consequat eros sit amet elit tincidunt ultricies. Duis et diam velit, vel tincidunt turpis.</p>
        </section>
        <footer>
        <p>This is a footer</p>
        </footer>
    </div>
</body>
</html>